[submodule "custom_nodes/comfyui-easyapi-nodes"]
	path = custom_nodes/comfyui-easyapi-nodes
	url = https://github.com/lldacing/comfyui-easyapi-nodes.git
[submodule "custom_nodes/ComfyUI-Extra-Samplers"]
	path = custom_nodes/ComfyUI-Extra-Samplers
	url = https://github.com/Clybius/ComfyUI-Extra-Samplers.git
[submodule "custom_nodes/comfyui-inpaint-nodes"]
	path = custom_nodes/comfyui-inpaint-nodes
	url = https://github.com/Acly/comfyui-inpaint-nodes.git
[submodule "custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
[submodule "custom_nodes/comfyui-base64-to-image"]
	path = custom_nodes/comfyui-base64-to-image
	url = https://github.com/glowcone/comfyui-base64-to-image.git
[submodule "custom_nodes/comfyui-inspire-pack"]
	path = custom_nodes/comfyui-inspire-pack
	url = https://github.com/ltdrdata/ComfyUI-Inspire-Pack.git
[submodule "custom_nodes/comfyui-essentials"]
	path = custom_nodes/comfyui-essentials
	url = https://github.com/cubiq/ComfyUI_essentials.git
[submodule "custom_nodes/comfyui-inpaint-CropAndStitch"]
	path = custom_nodes/comfyui-inpaint-CropAndStitch
	url = https://github.com/lquesada/ComfyUI-Inpaint-CropAndStitch.git
[submodule "custom_nodes/ComfyUI-FreeMemory"]
	path = custom_nodes/ComfyUI-FreeMemory
	url = https://github.com/ShmuelRonen/ComfyUI-FreeMemory.git
[submodule "custom_nodes/KJNodes"]
	path = custom_nodes/KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes.git
